@import 'variable-overrides';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'overrides';

.therapy-border{border-color: $therapy-color}
.wellness-border{border-color: $wellness-color}
.vm-border{border-color: $virtual-med-color}
ol{padding-left: 15px;}
.doc-bg {
	padding: 0 !important;
}

.navbar-toggle {
	width:45px;
	height:40px;
}
.navbar-collapse{
	max-height: 400px;
}
.navbar-toggle a{
	font-size:21px;
	color: $brand-primary;
}

.navbar-toggle {
	padding: 0px 11px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $brand-primary;
}

.navbar-h2c {
	float:right;
	clear:right;
}

#Logo {
	float:left;
	width: 250px;
	padding-top: 10px;
	text-decoration: none;
	text-align: right;
	img {
		width: 400px;
	}
	a {
		white-space: nowrap;
		font-size: .7em;
		text-decoration: none;
	}
}
@media (max-width: $screen-sm-max){
	#Logo{
		width: 170px;
		padding-top: 20px;
	}
}
@media (max-width: $screen-xs-max){
	#Logo{width: 100px;padding-top: 0px;}
	.btn.visible-xs {display: inline-block !important;}
	.navbar-h2c {
		float: none;
		position: inherit;
		margin-top: 10px;
	}
}

#Signup{margin-top: -55px; margin-left: 10px;}

.phone-tag {
	float:right;
	padding: 0px 10px;
	min-height: initial;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

a.phone-tag{
	text-decoration: none;
}
a.phone-tag:hover, a.phone-tag:focus{
	text-decoration: none;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 8px;
	line-height: 28px;
}

.clear{clear:both;}

.thicktop{border-top-width: 10px; border-top-style: solid; padding:0px 10px 10px 10px;}

.btn.right{float: right;margin-bottom: 20px;}


