---
layout: fullslider
title: acutecaretriage.com
---

<!--
<h1 class="center">Welcome to health</h1>
<div class="jumbotron doc-bg"><img class="img-responsive img-rounded" title="" src="/media/h2c.jpg" alt="Reponsive image" />
<p id="Signup"><a class="btn btn-lg btn-primary hidden-xs" href="/media/Group and Affinity contracts.pdf">Get started today</a><a class="btn btn-sm btn-primary visible-xs" href="/media/Group and Affinity contracts.pdf">Get started today</a></p>
</div>
-->
<div class="row">
<div class="clearfix col-md-4">
<div class="vm-border thicktop">
    {% include individuals.html %}
    <p class="visible-sm visible-xs">
        <a class="btn btn-vm right" href="{{ site.data.links.register }}">Signup &raquo;</a>
        <a class="btn btn-vm right" href="/member-services">Learn More &raquo;</a>
    </p>
</div>
</div>
<div class="clearfix col-md-4">
<div class="wellness-border thicktop">
    {% include families.html %}
    <p class="visible-sm visible-xs">
        <a class="btn btn-wellness right" href="/media/Group and Affinity contracts.pdf">Signup &raquo;</a>
        <a class="btn btn-wellness right" href="/member-services">Learn More &raquo;</a>
    </p>
</div>
</div>
<div class="clearfix col-md-4">
<div class="therapy-border thicktop">
    {% include groups.html %}
    <p class="visible-sm visible-xs">
        <a class="btn btn-therapy right" href="/media/Group and Affinity contracts.pdf">Signup &raquo;</a>
        <a class="btn btn-therapy right" href="/corporate-services">Learn More &raquo;</a>
    </p>
</div>
</div>
</div>
<div class="row hidden-xs hidden-sm">
<div class="clearfix col-md-4">
    <p>
        <a class="btn btn-vm right" href="{{ site.data.links.register }}">Signup &raquo;</a>
        <a class="btn btn-vm right" href="/member-services">Learn More &raquo;</a>
    </p>
</div>
<div class="clearfix col-md-4">
    <p>
        <a class="btn btn-wellness right" href="/media/Group and Affinity contracts.pdf">Signup &raquo;</a>
        <a class="btn btn-wellness right" href="/member-services">Learn More &raquo;</a>
    </p>
</div>
<div class="clearfix col-md-4">
    <p>
        <a class="btn btn-therapy right" href="/media/Group and Affinity contracts.pdf">Signup &raquo;</a>
        <a class="btn btn-therapy right" href="/member-services">Learn More &raquo;</a>
    </p>
</div>
