<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div id="Logo" class="col-xs-2">
        <a class="brand" href="/" rel="home">
          <img src="/media/ACT Logo_Color H.png" class="img-responsive" alt="Acutecaretriage.com" title="Acutecaretriage.com">
        </a>
      </div>
      <button type="button" class="col-xs-2 navbar-toggle collapsed"><a href="tel:9496294234" type="tel"><i class="glyphicon glyphicon-earphone"></i></a></button>
      <button type="button" class="col-xs-2 navbar-toggle collapsed"><a href="{{ site.data.links.login }}" title="log in"><i class="glyphicon glyphicon-log-in"></i></a></button>
      <a href="tel:9496294234" class="navbar navbar-default phone-tag hidden-xs" type="tel"><h4><i class="glyphicon glyphicon-earphone"></i><span class="hidden-phone">&nbsp;&nbsp;Call (949) 629-4234</span></h4></a>
      <a href="{{ site.data.links.login }}" class="navbar navbar-default phone-tag hidden-xs"><h4><i class="glyphicon glyphicon-log-in"></i><span class="hidden-phone">&nbsp;&nbsp;Login</span></h4></a>
      <a href="{{ site.data.links.register }}" class="navbar navbar-default phone-tag hidden-xs"><h4><i class="glyphicon glyphicon-edit"></i><span class="hidden-phone">&nbsp;&nbsp;Register</span></h4></a>
    </div>
  </div>
</nav>