<header id="myCarousel" class="carousel slide carousel-fade">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/media/main.jpg');">
            </div>
            <div class="carousel-caption dark-bg">
                <h1>Welcome to health</h1>
                <p><a class="btn btn-lg btn-primary hidden-xs" href="/media/Group and Affinity contracts.pdf">Get started today</a><a class="btn btn-sm btn-primary visible-xs" href="/media/Group and Affinity contracts.pdf">Get started today</a></p>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/media/individual.jpg');">
            </div>
            <div class="carousel-caption dark-bg">
                <h1>Welcome to health</h1>
                <h2>Indiviudals</h2>
                <p>
                    <a class="btn btn-vm" href="{{ site.data.links.register }}">Signup &raquo;</a>
                    <a class="btn btn-vm" href="/member-services">Learn More &raquo;</a>
                </p>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/media/family.jpg');"></div>
            <div class="carousel-caption dark-bg">
                <h1>Welcome to health</h1>
                <h2>Families</h2>
                <p>
                    <a class="btn btn-wellness" href="/media/Group and Affinity contracts.pdf">Signup &raquo;</a>
                    <a class="btn btn-wellness" href="/member-services">Learn More &raquo;</a>
                </p>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/media/group.jpg');"></div>
            <div class="carousel-caption dark-bg">
                <h1>Welcome to health</h1>
                <h2>Groups</h2>
                <p>
                    <a class="btn btn-therapy" href="/media/Group and Affinity contracts.pdf">Signup &raquo;</a>
                    <a class="btn btn-therapy" href="/corporate-services">Learn More &raquo;</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>