      <div class="masthead">
        <div id="Logo">
          <a class="brand" href="/" rel="home">
            <img src="/media/{{ site.whitelabel:logo }}" class="img-responsive" alt="{{ site.name }}" title="{{ site.name }}">
            {{ site.whitelabel:tag }}
          </a>
        </div>
        <a href="tel:9496294234" class="navbar navbar-default phone-tag hidden-xs" type="tel"><h4><i class="glyphicon glyphicon-earphone"></i><span class="hidden-phone">&nbsp;&nbsp;Call (949) 629-4234</span></h4></a>
        <a href="{{ site.data.links.login }}" class="navbar navbar-default phone-tag hidden-xs"><h4><i class="glyphicon glyphicon-log-in"></i><span class="hidden-phone">&nbsp;&nbsp;Login</span></h4></a>
        <a href="{{ site.data.links.register }}" class="navbar navbar-default phone-tag hidden-xs"><h4><i class="glyphicon glyphicon-edit"></i><span class="hidden-phone">&nbsp;&nbsp;Register</span></h4></a>
       {% include navigation.html %}
      </div>
