      <div class="masthead">
        <div id="Logo">
          <a class="brand" href="/" rel="home">
            <img src="/media/vHealth.svg" class="img-responsive" alt="Virtual Health" title="Virtual Health">
            powered by How2Connect.com
          </a>
        </div>
        <a href="tel:8554222525" class="navbar navbar-default phone-tag hidden-xs" type="tel"><h4><i class="glyphicon glyphicon-earphone"></i><span class="hidden-phone">&nbsp;&nbsp;Call (855) 422-2525</span></h4></a>
        <a href="{{ site.data.links.login }}" class="navbar navbar-default phone-tag hidden-xs"><h4><i class="glyphicon glyphicon-log-in"></i><span class="hidden-phone">&nbsp;&nbsp;Login</span></h4></a>
        {% include navigation.html %}
      </div>