    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class=""><a href="/" title="Home">Home</a></li>
                <li class="dropdown $LinkingMode">
                  <a href="" class="dropdown-toggle" title="Products"  data-toggle="dropdown">Products<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  {% for post in site.categories.products %}
                    <li class=""><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </li>
              {% for post in site.categories.nav %}
                <li class=""><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
              {% endfor %}
                <li class="dropdown $LinkingMode">
                  <a href="" class="dropdown-toggle" title="Company"  data-toggle="dropdown">Company<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  {% for post in site.categories.company %}
                    <li class=""><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->