 <!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="$ContentLocale"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="$ContentLocale"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="$ContentLocale"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="$ContentLocale"> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      {% include masthead.html %}
      <div id="WebsiteAlive" style="display: none;">
      <!-- Start WebsiteAlive Button Code ID: 925 -->
      <img src="https://www.websitealive3.com/12870/visitor/image/?code_id=925" style="cursor:pointer" onclick="wsa_open_chat(0,0)"/>
      <!-- End WebsiteAlive Button Code -->
      </div>
      <div class="clearfix"></div>
      <div class="clearfix inner typography line">
        {{ content }}
      </div>
      {% include footer.html %}
    </div> <!-- /container -->
    {% include js.html %}
  </body>
</html>
